header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff80;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  font-weight: 700;
}
header h1:hover {
  text-shadow: 0 0 20px #00eaff, 0 0 30px #00eaffa0;
   transform: scale(1.05); 
}
